@use '../util' as *;

.histoire{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--gray);

    &_book__content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        min-width: rem(250);
        max-width: rem(400);
        height: rem(502);
        position: relative;
        perspective: rem(10000);
        transition: 1s;
        @include breakpoint-down(xsmall){
            perspective: rem(1000);
        }
        .book{
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 1s;
            transform-style: preserve-3d;
            transform-origin: left;
            @include breakpoint-down(xsmall){
            width: 65%;
            }
            .face-front, .face-back{
                display: grid;
                width: 100%;
                height: 100%;
                padding: rem(16);
                box-sizing: border-box;
                overflow: hidden;
                cursor: pointer;
                h1{text-align: center;align-self: center;}
                .page{
                    gap: rem(10);
                    height: min-content;
                }
                p{
                    margin: 0;
                    font-size: rem(11);
                    height: min-content;
                    text-align: justify;
                    @include breakpoint-down(xsmall){
                        font-size: rem(12);
                    }
                    span{
                        display: block;
                        @include breakpoint-down(xsmall){
                            display: none;
                        }
                    }
                }
            }
            .face-front{
                box-shadow: inset rem(3) 0 rem(20) rem(-7) var(--black);
                border-top-right-radius: rem(3);
                border-bottom-right-radius: rem(3);
                background-color: var(--grayLight);
            }
            .face-back{
                background-color: var(--grayDark);
                position: absolute;    
                top: 0;
                left: 0;
                box-shadow: inset rem(3) 0 rem(20) rem(-7) var(--black);
                transform: translateZ(-1px) rotateY(180deg);
                border-top-left-radius: rem(3);
                border-bottom-left-radius: rem(3);
            }
            #portada{
                background-color: hsl(240, 81%, 69%);
            }
            #portada-back{
                background-color: hsl(240, 81%, 69%);
            }
            #portada, #portada-back{
                background-size: 100% 100%;
            }
            // img{width: 100%;height: 100%;}
        }
    }
}

.trnsf{
        transform: translateX(rem(14));
    @include breakpoint-down(large){
        transform: translateX(rem(144));
    }
    @include breakpoint-down(xsmall){
        transform: translateX(rem(96));
    }
    @include breakpoint-down(extrasmall){
        transform: translateX(rem(62));
    }
}
.trnsf-reset{
    transform: translateX(rem(0));
}